div.container-fluid {
    text-align: center;
    align-items: center;
    padding: 0;

}

.h1background {
    position: absolute;
    background-color: white;
}

.h1background {

}

h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: .7;
    padding: 0;
    margin: 0;
    bottom: 2em;

}

img {
    width: 100%;
    object-fit: none;
    max-height: 13em;
}

.jumbotron {
    padding: 0;
    margin: 0;
}