div.container-fluid {
    text-align: center;
    align-items: center;
    padding: 0;

}

.h1background {
    position: absolute;
    background-color: white;
}

.h1background {

}

h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: .7;
    padding: 0;
    margin: 0;
    bottom: 2em;

}

img {
    width: 100%;
    object-fit: none;
    max-height: 13em;
}

.jumbotron {
    padding: 0;
    margin: 0;
}

.header-hand {
    margin: 1em;
    border: 1px black solid;
}

button.btn {
    color: white;
    border
}

.form-group {
    padding: 0 1em;
}



.form-check-label {
    padding: 0;
}

div.form-check {
    padding: 1em 0 1em 2em;
}

li {
    list-style-type: none;
}

.list-group-item {
    padding: 0;
}

#list-hand-tossed li, #list-crispy-thin li{
    padding: 1em;
}

div label {
    padding: .5em 0;
}

.main-card-header    {
    background-color: dodgerblue;
    color: white;
}


button {
    color: white;
}