* {
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: .5em;
}

a:hover {
    color: blue;
}

.top-nav {
    display: flex;
    background-color: lightgray;
    padding: 0;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navlogo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;

}

#navlogo a {
    padding: 0;
}