* {
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    padding: 10px;
    border: 1px #666666 solid;

    border-radius: 5px;
    margin: 10px auto;
    width: 90%;
}

.message-info {
    background-color: lightblue;
    color: darkblue;
}

.message-success {
    background-color: lightgreen;
    color: forestgreen;
}

.message-warning {
    background-color: lightyellow;
    color: rgba(108, 89, 44, 0.5);
}

.message-error {
    background-color: #efc1c1;
    color: red;
}