.input {
    padding: 0;
}

button {
    border: none;
    background-color: inherit;
}

.nav-item {
    color: black;
}

button.btn {
    color: black;
    border: black 1px solid;
}

.form-control {
    padding: 0;
}

.active {
    background-color: lightgray;
}

.navbar {
    padding: 0 1em;
}