* {
    box-sizing: border-box;
    font-family: Arial, Ubuntu, sans-serif;
}

.top-nav {
    text-align: center;
    font-weight: bold;
}



header {
    background-color: white;
    padding: none;
    margin: 1em 0;
}

form .btn{
    border: 1px lightblue solid;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    align-content: center;
}

.nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}

.img-circle {
    border-radius: 50%;
    width: 3em;

}

#main-user {
    width: 7em;
    border: 2px white solid;
}

.nav-item {
    padding: 1em;
    text-underline: none;
}

.nav-item a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}


body {
    flex-direction: row;
    background-color: lightgray;
}

.timeline {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.media {
    display: flex;
    flex-wrap: wrap;
}


.container {
    display: flex;
}


aside {
    margin: 1em;
    justify-content: space-between;
    border: 1px black solid;
    background-color: white;
}

aside.profile-details {
    background-color: lightgray;
    border: none;
}


